* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------Navbar--------- */

.navbar {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: right;
  height: 60px;
  padding: 0rem 3rem;
  background: #38b7fcbc;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-link-wrapper {
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  list-style: none;
  color: #fff;
  gap: 2rem;
}

.nav-link-wrapper > li {
  font-size: 15px;
  font-weight: 500;
}

/* ------------Header---------- */

.header {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem;
  box-sizing: border-box;
  background-image: url('./../public/banner.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 2.5rem;
}

.btn {
  border-radius: 20px;
  padding: 0.4rem 1.5rem;
  font-style: 12px;
  background: rgb(255, 186, 57);
  color: white;
  border: none;
  cursor: pointer;
}

.heading {
  width: 300px;
  text-align: left;
  height: fit-content;
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 8rem;
  margin-left: 1rem;
}

/* ------------------Academies-section---------- */

.academies-section {
  background: #38b8fc;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1rem;
  padding-left: 4rem;
  padding-bottom: 5rem;
}

.academies-section > h2 {
  width: 250px;
  text-align: left;
  color: #fff;
  height: fit-content;
  font-size: 30px;
  font-weight: 600;
  opacity: .9;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.academies {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  /* justify-content: center; */
}

.academy-card {
  width: 240px;
  height: 300px;
  background: #e2e2e2;
  border-radius: 10px;
}

.feedback-section {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 1rem;
  padding-right: 4rem;
  padding-bottom: 5rem;
}

.feedback-section > h2 {
  color: #f6b409;
  width: 250px;
  text-align: right;
  font-weight: 600;
  height: fit-content;
  font-size: 30px;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.feedback-wrapper {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}
.feedback-card {
  width: 320px;
  height: 180px;
  background: #ccc;
  border-radius: 10px;
}

/* --------------Footer------------ */

footer {
  width: 100%;
  height: 300px;
  background: #f6b409;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

.footer-text {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.footer-text > h2 {
  font-size: 30px;
  font-weight: 600;
}
.footer-text > p {
  font-size: 20px;
}

.email {
  width: 300px;
  border: solid 1px #ccc;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  color: #444;
}

.subs-btn {
  background: #38b8fc;
  color: #fff;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  margin-left: 1rem;
}
